<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Programming Company</title>
</head>

<body>
    <h1 style="text-align: center">Welcome to Our Company</h1>
    <details>
        <summary>See more</summary>
        <details>
            <summary>Application</summary>
        </details>
        <details>
            <summary>Feedback</summary>
        </details>
        <details>
            <summary>Reservation</summary>
        </details>
    </details>
    <form action="" method="get">
        <iframe src="Application.htm" width="50%"></iframe>
        <button>
        <h2><a href="Application.htm">We Hire</a></h2>
      </button>
    </form>
    <br />
    <h2>
        <iframe src="Reservation.htm" width="50%"></iframe>
        <a href="Reservation.htm">
            <img src="/Resources/Images/service.png" alt="Our Additional Services icon" width="200" height="100" /> </a><br /><br />
    </h2>
    <br /><br /><br />
    <iframe src="Feedback.htm" width="50%"></iframe>
    <a href="Feedback.htm">
        <h2 style="text-align: center">Feedback</h2>
    </a><br />
    <h2 style="text-align: center"><a href="See more.htm">See more</a></h2>
</body>

</html>